
@font-face {
    font-family: 'custom-font';
    font-weight: normal;
    font-style: normal;
    src: url('https://s3-eu-west-1.amazonaws.com/bridge-v3-widget/demo/AvenirNext-Regular.eot?317xds');
    src: url('https://s3-eu-west-1.amazonaws.com/bridge-v3-widget/demo/AvenirNext-Regular.eot?#iefix317xds') format('embedded-opentype'),
    url('https://s3-eu-west-1.amazonaws.com/bridge-v3-widget/demo/AvenirNext-Regular.ttf?317xds') format('truetype'),
    url('https://s3-eu-west-1.amazonaws.com/bridge-v3-widget/demo/AvenirNext-Regular.woff?317xds') format('woff'),
    url('https://s3-eu-west-1.amazonaws.com/bridge-v3-widget/demo/AvenirNext-Regular.svg?317xds#aileron') format('svg');
}

@font-face {
    font-family: 'icon-font';
    src: url('https://s3-eu-west-1.amazonaws.com/bridge-v3-widget/demo/icomoon.eot?316xds');
    src: url('https://s3-eu-west-1.amazonaws.com/bridge-v3-widget/demo/icomoon.eot?#iefix316xds') format('embedded-opentype'),
    url('https://s3-eu-west-1.amazonaws.com/bridge-v3-widget/demo/icomoon.ttf?316xds') format('truetype'),
    url('https://s3-eu-west-1.amazonaws.com/bridge-v3-widget/demo/icomoon.woff?316xds') format('woff'),
    url('https://s3-eu-west-1.amazonaws.com/bridge-v3-widget/demo/icomoon.svg?316xds#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.widget {
    font-family: custom-font, arial, sans-serif;
}

.search {
    position: relative;
    margin: 10px 0;
    text-align: center;
}

.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 3;
    height: 35px;
    background-color: #fff;
}

.search-form-input {
    border: solid 1px #000;
    padding: 10px 5px;
    width: 185px;
    box-sizing: border-box;
}

.search-geolocation-button,
.search-form-submit {
    position: absolute;
    cursor: pointer;
    border: 0;
    width: 35px;
    height: 35px;
    background-color: #fff;
}

.search-form-submit {
    margin-left: 110px;
}

.search-form-submit:before {
    content: "\e900";
    font-size: 16px;
}

.search-geolocation-button {
    margin-left: -110px;
}

.search-geolocation-button:before {
    content: "\e903";
    font-size: 16px;
}

.search-suggestions {
    position: absolute;
    top: 33px;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%);
    border: solid 1px #000;
    background: #fff;
    width: 185px;
    max-height: 234px;
    overflow: auto;
    box-sizing: border-box;
    text-align: left;
    font-size: 13px;
}

.search-suggestion {
    cursor: pointer;
    padding: 3px;
    font-size: 13px;
}

.search-suggestion:active,
.search-suggestion:focus,
.search-suggestion:hover {
    background-color: #eee;
    outline: 0;
}

.search-results {
    float: left;
    overflow: auto;
    width: 50%;
    max-height: 389px;
    font-size: 13px;
}

.search-result {
    border-bottom: solid 1px #000;
    padding: 10px;
}

.search-result > * {
    margin-bottom: 3px;
}

.search-result:nth-child(odd) {
    background: #eee;
}

.search-result:last-child {
    border-bottom: 0;
}

.location-marker {
    position: relative;
    float: left;
    margin-right: 8px;
    width: 24px;
    height: 36px;
    background: url('https://d1269z4w4wp4wh.cloudfront.net/release/merevo-luxury/v1/assets/images/markers/marker.png') center no-repeat;
    background-size: contain;
}

.location-marker-number {
    position: absolute;
    top: 6px;
    left: -7px;
    width: 38px;
    text-align: center;
    font-size: 13px;
}

.location-name {
    text-transform: uppercase;
    font-weight: bold;
}

.location-address-postal-code {
    padding: 0 5px;
}

.location-address-postal-code:after {
    padding-left: 5px;
    content: '-';
}

.location-email-link,
.location-phone-link {
    display: inline-block;
    padding-left: 5px;
}

.location-email:before,
.location-phone:before {
    display: inline-block;
    width: 15px;
    height: 15px;
    content: '';
    vertical-align: middle;
}

.location-phone:before {
    content: "\e901";
}

.location-email:before {
    content: "\e902";
}

.opening-hours {
    display: flex;
    overflow: auto;
    padding-top: 5px;
    text-align: center;
    font-size: 12px;
}

.opening-hours-day {
    flex: 1;
}

.opening-hours-day + .opening-hours-day {
    border-left: solid 1px #000;
    margin-left: 5px;
    padding-left: 5px;
}

.opening-hours-day-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.time-band {
    display: block;
}

.time-band-closed {
    color: #ff0000;
}

.map {
    float: left;
    width: 50%;
    height: 389px;
}

.map-marker-label {
    position: absolute;
    top: -41px;
    left: -19px;
    width: 38px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.search-geolocation-button:before,
.search-form-submit:before,
.location-email:before,
.location-phone:before {
    font-family: 'icon-font' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
