
.widget {
    padding: 0 15px;
    background: #fff;
    font-family: Roboto, sans-serif;
}

.title {
    margin: 12px 0;
    padding: 0;
    text-align: left;
}

.title-label {
    display: block;
    position: relative;
    font-weight: normal;
    font-size: 22px;
    color: #000;
    text-transform: none;
}

.title-label:after {
    position: absolute;
    margin-left: 5px;
    font-weight: 700;
    content: 'www.mr-bricolage.fr';
}

.search {
    position: relative;
    margin: 15px 0;
    font-family: Arial, sans-serif;
}

.search-form {
    display: flex;
    position: relative;
    justify-content: flex-start;
    height: 45px;
    z-index: 3;
}

.search-form-input {
    display: block;
    float: left;
    border: solid 1px #eae6e3;
    padding: 14px 2%;
    width: 80%;
    background-color: #eee;
    font-size: 9pt;
    color: #999490;
    outline: 0;
}

.search-form-submit {
    position: relative;
    display: block;
    float: left;
    padding: 15px;
    width: 45px;
    cursor: pointer;
    border: 0;
    background-color: #dc0000;
    font-size: 9pt;
    outline: 0;
}

.search-form-submit:after {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 30px;
    height: 30px;
    background: url('https://image.flaticon.com/icons/png/128/149/149401.png') no-repeat;
    background-size: contain;
    content: '';
}

.search-suggestions {
    position: absolute;
    top: 43px;
    border: solid 1px #eae6e3;
    overflow-y: auto;
    width: 80%;
    max-height: 234px;
    z-index: 2;
    background-color: #fff;
    box-shadow: 0 10px 26px 0 rgba(0, 0, 0, .3);
    box-sizing: border-box;
}

.search-suggestion {
    cursor: pointer;
    padding: 3px;
    font-size: 13px;
}

.search-suggestion:active,
.search-suggestion:focus,
.search-suggestion:hover {
    background-color: #eee;
    outline: 0;
}

.search-results {
    position: absolute;
    top: 97px;
    overflow-y: scroll;
    width: 90%;
    max-height: 347px;
    box-shadow: 0 10px 26px 0 rgba(0, 0, 0, .3);
    background: #fff;
}

.search-result {
    position: relative;
    border-bottom: solid 3px #ededed;
    padding: 10px;
    height: 73px;
    color: #5a5e62;
}

.location-name {
    font-weight: 700;
    margin-bottom: 1px;
}

.location-address-postal-code {
    padding: 0 5px;
}

.location-address-postal-code:after {
    padding-left: 5px;
    content: '-';
}

.location-phone {
    display: block;
    margin-top: 4px;
    padding: 6px 12px;
    border: solid 1px #453356;
    width: 161px;
    background: transparent url('https://www.shareicon.net/download/2015/11/14/672080_phone.svg') 10px center no-repeat;
    background-size: 13px;
    text-indent: 27px;
}

.location-phone-link {
    color: #555;
    font-weight: 700;
    text-decoration: none;
}

.location-page {
    position: absolute;
    top: 0;
    right: 0;
}

.location-page-link {
    visibility: hidden;
    color: #fff;
    text-decoration: none;
}

.location-page-link:before {
    position: absolute;
    top: 32px;
    right: 32px;
    visibility: visible;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #dc0000;
    content: 'Choisir';
}

.location-email,
.opening-hours {
    display: none;
}
